<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title"> #{{this.id}} {{this.burger_name}}
        </h5>
        <hr class="my-4">
        <button class='changeState btn' data-id='{{this.id}}' data-devouredit='{{devoured}}'>
            {{#if devoured}}Devour it!{{else}}Prep it!{{/if}} </button>

    </div>
</div>