<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title"> #{{this.id}} {{this.burger_name}}
        </h5>
        <hr class="my-4">
        <button data-id=' {{this.id}}' data-devoured='{{this.devoured}}' class='devourIt btn'>
            {{#unless devoured}}Devour it!{{else}}Prep it!{{/unless}} </button>

    </div>
</div>